<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @subscription.event_id %>
</p>

<p>
  <strong>Attendee:</strong>
  <%= @subscription.attendee_id %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription), :class => "btn btn-warning" %> |
<%= link_to 'Back', subscriptions_path, :class => "btn btn-info" %>
